[Unit]
Description=rest-api
Wants=rabbit-to-db.service
After=rabbit-to-db.service

[Service]
Type=simple
WorkingDirectory={{ rest_api_workdir }}
Restart=always
Environment=POSTGRES_HOST={{ rest_api_postgres_host }}
Environment=POSTGRES_PORT={{ rest_api_postgres_port }}
Environment=POSTGRES_USER={{ rest_api_postgres_user }}
Environment=POSTGRES_PASS={{ rest_api_postgres_pw }}
Environment=POSTGRES_DB={{ rest_api_postgres_db }}

ExecStart={{ rest_api_workdir }}/venv/bin/flask {{ rest_api_workdir }}/app.py --host=0.0.0.0

[Install]
WantedBy=multi-user.target
