[Unit]
Description=rabbit-to-db
Wants=json-filter.service
After=json-filter.service

[Service]
Type=simple
WorkingDirectory={{ rabbit_to_db_workdir }}

Restart=always

Environment=POSTGRES_HOST={{ postgre_host }}
Environment=POSTGRES_PORT={{ postgre_port }}
Environment=POSTGRES_USER={{ postgre_usr }}
Environment=POSTGRES_PW={{ postgre_pw }}
Environment=POSTGRES_DB={{ postgre_db }}
Environment=RABBIT_HOST={{ rabbit_host }}
Environment=RABBIT_PORT={{ rabbit_port }}
Environment=RABBIT_USER={{ rabbit_usr }}
Environment=RABBIT_QUEUE={{ rabbit_queue }}
Environment=RABBIT_PW={{ rabbit_pw }}
Environment=MQ_CONNECTION={{ env_qm_connection }}

ExecStart={{ rabbit_to_db_workdir }}/venv/bin/python3 {{ rabbit_to_db_workdir }}/app.py

[Install]
WantedBy=multi-user.target
